doctype html
html(lang='en')
   head
      title API Document
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='build/main.css')
      link(rel='stylesheet', href='output/scss/index.css')

   body(data-spy='scroll', data-target='#myScrollspy', data-offset='20')
      .container
         .row
            nav#myScrollspy.col-md-3
               ul.nav.pills.stacked
                  li.active
                     a.top(href='#buttons') Buttons

                  li
                     a(href='#color') Color

                  li
                     a(href='#panels') Panels

               div.modal-footer
                  a(href='#') Back to top
            .col-md-9
               #buttons
                  include docSrc/button
               #color
                  include docSrc/color
               #panels
                  include docSrc/panels
      script(type='text/javascript' src='output/bower_components/jquery/dist/jquery.js')
      script(type='text/javascript' src='output/bower_components/bootstrap/dist/js/bootstrap.js')

