h1 Tables
.line
h4.Second Base Tables
p.content-div For basic styling-light padding and only horizontal dividers-add the base class
   span.btn-color .table
   | to any
   span.btn-color < table >
   | .It may seem super redundant,but given hte widespread use of tables for other plugins like calendars and date pickers,we've opted to isolate our custom table styles.
.bs-example
   table.table
      thead
         tr
            th Name
            th Position
            th Office
            th Age
            th Date
      tbody
         tr
            td Mark
            td 7579 Santa Forest
            td Jordaneville
            td 21
            td 2013/05/13
         tr
            td Mark
            td 7579 Santa Forest
            td Jordaneville
            td 21
            td 2013/05/13
         tr
            td Mark
            td 7579 Santa Forest
            td Jordaneville
            td 21
            td 2013/05/13
         tr
            td Mark
            td 7579 Santa Forest
            td Jordaneville
            td 21
            td 2013/05/13
         tr
            td Mark
            td 7579 Santa Forest
            td Jordaneville
            td 21
            td 2013/05/13
         tr
            td Mark
            td 7579 Santa Forest
            td Jordaneville
            td 21
            td 2013/05/13
         tr
            td Mark
            td 7579 Santa Forest
            td Jordaneville
            td 21
            td 2013/05/13
         tr
            td Mark
            td 7579 Santa Forest
            td Jordaneville
            td 21
            td 2013/05/13

.linebar.col-md-1
   p 1
   p 2
   p 3
   p 4
   p 5
   p 6
   p 7
   p 8
   p 9
   p 10
   p 11
   p 12
.code.col-md-11
   p p
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p p
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p p
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p p
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p  button.btn.btn-primary.btn-lg(type="button") Large button


h4.Second Tables details
p.content-div For basic styling-light padding and only horizontal dividers-add the base class
   span.btn-color .table
   | to any
   span.btn-color < table >
   | .It may seem super redundant,but given hte widespread use of tables for other plugins like calendars and date pickers,we've opted to isolate our custom table styles.
.bs-example
   table.table
      thead
         tr
            th Name
            th Position
            th Office
            th Age
            th Date
      tbody
         tr
            td Mark
            td 7579 Santa Forest
            td Jordaneville
            td 21
            td 2013/05/13

.linebar.col-md-1
   p 1
   p 2
   p 3
   p 4
   p 5
   p 6
   p 7
   p 8
   p 9
   p 10
   p 11
   p 12
.code.col-md-11
   p p
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p p
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p p
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p p
   p  button.btn.btn-primary.btn-lg(type="button") Large button
   p  button.btn.btn-primary.btn-lg(type="button") Large button
