h1 Buttons
.line
h4#button-color.Second Button Colors
p.content-bg Use any the available classes to quickly create a styled button.
.row
	.col-md-4
		div
			button.btn.btn-primary Primary Button
			.bg-primary-lighter
				h5 Disable
				p.content-bg bg-primary-lighter
			.bg-primary-light
				h5 Normal
				p.content-bg bg-primary
			.bg-primary-dark
				h5 Hover &  Active
				p.content-bg bg-primary-dark
			.content-div
				| Pages Default Multi-Purpose Theme Color.
				| Add class by simply typing
				span.btn-color .btn-primary



	.col-md-4
		div
			button.btn.btn-success Success Button
			.bg-success-lighter
				h5 Disable
				p.content-bg bg-success-lighter
			.bg-success-light
				h5 Normal
				p.content-bg bg-success
			.bg-success-dark
				h5 Hover &  Active
				p.content-bg bg-success-dark
			.content-div
				|Pages Default Multi-Purpose Theme Color.
				| Add class by simply typing
				span.btn-color .btn-success

	.col-md-4
		div
			button.btn.btn-danger Danger Button
			.bg-danger-lighter
				h5 Disable
				p.content-bg bg-danger-lighter
			.bg-danger-light
				h5 Normal
				p.content-bg bg-danger
			.bg-danger-dark
				h5 Hover &  Active
				p.content-bg bg-danger-dark
			.content-div
				| Pages Default Multi-Purpose Theme Color.
				| Add class by simply typing
				span.btn-color .btn-danger

.row
	.col-md-4
		div
			button.btn.btn-warning Warning Button
			.bg-warning-lighter
				h5 Disable
				p.content-bg bg-warning-lighter
			.bg-warning-light
				h5 Normal
				p.content-bg bg-warning
			.bg-warning-dark
				h5 Hover &  Active
				p.content-bg bg-warning-dark
			.content-div
				| Pages Default Multi-Purpose Theme Color.
				| Add class by simply typing
				span.btn-color .btn-warning

	.col-md-4
		div
			button.btn.btn-info Info Button
			.bg-info-lighter
				h5 Disable
				p.content-bg bg-info-lighter
			.bg-info-light
				h5 Normal
				p.content-bg bg-info
			.bg-info-dark
				h5 Hover &  Active
				p.content-bg bg-info-dark
			.content-div
				| Pages Default Multi-Purpose Theme Color.
				| Add class by simply typing
				span.btn-color .btn-info

	.col-md-4
		div
			button.btn.btn-default Default Button
			.bg-default-lighter
				h5 Disable
				p.content-bg ＃fff
			.bg-default-light
				h5 Normal
				p.content-bg #fafafa
			.bg-default-dark
				h5 Hover &  Active
				p.content-bg bf4f4f4
			.content-div
				|	Pages Default Multi-Purpose Theme Color.
				| Add class by simply typing
				span.btn-color .btn-default

h4#button-size.Second Button size
p.content-div
	|	Size might vary from smaller to a larger screen.We made few sizes that are pixel perfect and resposive.Fancy larger or smaller bottons?
	span.btn-color .btn-lg,btn-sm
	|  ,or
	span.btn-color .btn-xs
	|   for additional sizes.
.bs-example
		button Large button
		button Default button
		button Small button
		button Extra small button
.row
	.lineNum.col-md-1
		p 1
		p 2
		p 3
		p 4
		p 5
		p 6
		p 7
		p 8
		p 9
		p 10
		p 11
		p 12
	.code.col-md-11
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button

p.content-div
	|  Create block level buttons-those that span the full width of a parent - by adding
	span.btn-color .btn-block
	span .
.bs-example
		button Block level button
.row
	.lineNum.col-md-1
		p 1
		p  2
	.code.col-md-11
		p button.btn.btn-primary.btn-lg.btn-block(type="button") Block level button
		p button.btn.btn-default.btn-lg.btn-block(type="button") Block level button


h4#disabled-state.Second disabled state
p.content-div
	|  Make buttons look unclickable by fading them back with
	span.btn-color opacity
	| .Add the
	span.btn-color .disabled
	|  attribute to
	span.btn-color < button >
	|  buttons.
.bs-example
		button Default
		button Primary
		button Success
		button Danger
		button Warning
		button Info
.row
	.lineNum.col-md-1
		p 1
		p 2
		p 3
		p 4
		p 5
		p 6
		p 7
		p 8
		p 9
		p 10
		p 11
		p 12
		p 13
		p 14
		p 15
		p 16
		p 17
		p 18
	.code.col-md-11
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button


h4#button-dropdowns.Second Button dropdowns
p.content-div
	|  Use any button to trigger a dropdown menu by placing it with a
	span.btn-color .btn-group
	| add providing the proper menu markup.
.bs-example
	button Default
	span.caret
	button Primary
	span.caret
	button Success
	span.caret
	button Danger
	span.caret
	button Warning
	span.caret
	button Info
	span.caret
.row
	.lineNum.col-md-1
		p 1
		p 2
		p 3
		p 4
		p 5
		p 6
		p 7
		p 8
		p 9
		p 10
		p 11
		p 12
		p 13
		p 14
		p 15
		p 16
		p 17
		p 18
	.code.col-md-11
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p p
		p  button.btn.btn-primary.btn-lg(type="button") Large button
		p  button.btn.btn-primary.btn-lg(type="button") Large button
